.centerScreen{
    height: calc(50vh - 12.5rem);
}

.makeRound{
    border-radius: 50%;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#JME {
animation: spin 3s infinite;
animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }